
/* Page layout */
body {
  background: #111;
}

.page {
  max-width: 920px;
  margin: 40px auto;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.card-header{
  display: flex;
  justify-content:space-between
}

.card {
  width: 28rem !important;   
  margin-bottom: 2rem;       
}

.post-image {
  width: 100%;
  height: 350px;      
  object-fit: cover;  
}